wsdl/SOAPMonitorApplet.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://DefaultNamespace" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://DefaultNamespace" xmlns:intf="http://DefaultNamespace" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->

   <wsdl:message name="initRequest">

   </wsdl:message>

   <wsdl:message name="startResponse">

   </wsdl:message>

   <wsdl:message name="destroyRequest">

   </wsdl:message>

   <wsdl:message name="startRequest">

   </wsdl:message>

   <wsdl:message name="destroyResponse">

   </wsdl:message>

   <wsdl:message name="initResponse">

   </wsdl:message>

   <wsdl:message name="stopResponse">

   </wsdl:message>

   <wsdl:message name="stopRequest">

   </wsdl:message>

   <wsdl:portType name="SOAPMonitorApplet">

      <wsdl:operation name="init">

         <wsdl:input message="impl:initRequest" name="initRequest"/>

         <wsdl:output message="impl:initResponse" name="initResponse"/>

      </wsdl:operation>

      <wsdl:operation name="start">

         <wsdl:input message="impl:startRequest" name="startRequest"/>

         <wsdl:output message="impl:startResponse" name="startResponse"/>

      </wsdl:operation>

      <wsdl:operation name="destroy">

         <wsdl:input message="impl:destroyRequest" name="destroyRequest"/>

         <wsdl:output message="impl:destroyResponse" name="destroyResponse"/>

      </wsdl:operation>

      <wsdl:operation name="stop">

         <wsdl:input message="impl:stopRequest" name="stopRequest"/>

         <wsdl:output message="impl:stopResponse" name="stopResponse"/>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="SOAPMonitorAppletSoapBinding" type="impl:SOAPMonitorApplet">

      <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="init">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="initRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://DefaultNamespace" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="initResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://DefaultNamespace" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="start">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="startRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://DefaultNamespace" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="startResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://DefaultNamespace" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="destroy">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="destroyRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://DefaultNamespace" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="destroyResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://DefaultNamespace" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="stop">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="stopRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://DefaultNamespace" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="stopResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://DefaultNamespace" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="SOAPMonitorAppletService">

      <wsdl:port binding="impl:SOAPMonitorAppletSoapBinding" name="SOAPMonitorApplet">

         <wsdlsoap:address location="http://localhost:8088/gx10000/services/SOAPMonitorApplet"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
